@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 72px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    position: fixed;
    z-index: 100;
    color: #22313F;
    clear: both;
}

header hgroup {
    width: 200px;
}

header h1 {
    margin-left: 40px;
    margin-top: 12px;
    float: left;
    height: 50px;
    width: 50px;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 100px;
    border: 1px solid #000;
    text-align: center;
    color: #000;
    font-size: 2em;
    background: #F9BF3B;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 5px 1px #000 inset;
}

header h1:nth-of-type(2) {
    margin-left: 5px;
}

header h1:nth-of-type(3) {
    margin-left: 5px;
}

header nav {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-table;
}

header ul li a {
    text-transform: uppercase;
    padding: 9px 8px;
    text-decoration: none;
    color: #F9BF3B;
    font-family: 'lato', sans-serif;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 72px;
    background: #ECF0F1;
    display: none;
}

section {
    width: 100%;
    height: 100%;
    clear: both;
}

section div.content {
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
    width: 940px;
    clear: both;
}

section div h1 {
    margin-top: 8%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
#introduction {
    background-size: cover;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#introduction h1 {
    color: #F9BF3B;
    font-size: 5em;
    text-shadow: 5px 5px #000;
    text-align: center;
}

#introduction h1:nth-of-type(1) {
    margin-top: 18%;
}

#introduction h1:nth-of-type(2) {
    color: #FFF;
    text-transform: inherit;
}

#introduction h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-shadow: 3px 3px #000;
    text-transform: uppercase;
    font-style: oblique;
}

#about, #skills, #portfolio, #contact, #frontend, #backend, #miscellaneous  {
    display: none;
}

#about {
    background-size: cover;
    background-image: url(../images/stanford.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#about .background {
    background: rgba(211, 84, 0, 0.9);
    height: 100%;
}

#about div.content h1 {
    color: #FFF;
}

#about div.content h1 + p {
    margin-top: 30px;
}

#about div.content h1 ~ p {
    font-family: "Roboto Slab";
    text-align: justify;
    font-size: 1.2em;
    color: #FFF;
}

#skills {
    background-size: cover;
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#skills .background {
    background: rgba(65, 131, 215, 0.85);
    height: 100%;
}

#skills h1 {
    color: #FFF;
}

#skill-levels {
    margin-top: 5%;
    width: 100%;
}

#buttons {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    clear: both;
}

#buttons button {
    display: inline-table;
    width: 120px;
}

#skill-levels h4 {
    text-align: left;
}

#skill-levels section {
    width: 100%;
}

#skill-levels dl {
    margin: 0;
    padding: 0;
    clear: both;
    border-top: 1px solid #000;
}

#skill-levels dl:nth-of-type(1) {
    background: #000;
}

#skill-levels dl:nth-of-type(1) dd {
    text-align: center;
}

#skill-levels dd {
    display: inline-table;
    margin-top: 5px;
    margin-left: 1px;
    margin-bottom: -5px;
    width: 17.2%;
}

#skill-levels dd:first-child {
    width: 13%;
    height: 25px;
    margin-top: 0;
}

#skill-levels dd h3 {
    margin-top: 0;
    text-transform: uppercase;
    padding: 5px;
    display: block;
    background: #000;
    color: #FFF;
    font-size: 1em;
    text-align: center;
}

#skill-levels dd:first-child h4 {
    width: 125px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #000;
    color: #FFF;
    font-size: 1em;
    text-align: center;
}

#skill-levels dd div {
    padding: 0;
    height: 25px;
    background: #000;
}

#portfolio {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#portfolio h1 {
    margin-bottom: 20px;
    color: #FFF;
}

#portfolio .background {
    background: rgba(77, 175, 124, 0.9);
    height: 100%;
}

#portfolio .slide-viewer {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 550px;
    height: 550px;
}

#portfolio .slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}

#portfolio .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

#portfolio .slide:first-child {
    display: block;
}

#portfolio .row {
    width: 100%;
    margin-left: 5px;
}

#portfolio .column {
    width: 225px;
    height: 225px;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
}

#portfolio .column img {
    width: 225px;
}

.column > .overlay {
    width: 225px;
    height: 112px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 99;
    margin-top: -112px;
    display: none;
    text-align: center;
}

.column > .overlay h4 {
    color: #FFF;
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

div.slide-buttons {
    margin: 0 auto;
    position: absolute;
    width: 940px;
    left: 50%;
    margin-left: -490px;
    margin-top: -60px;
    text-align: center;
    z-index: 99;
}

div.slide-buttons button {
    border: none;
    background: none;
}

.slide-btn {
    font-size: 3em;
}

.active {
    color: #FF0000;
}

#contact {
    background-size: cover;
    background-image: url(../images/new.york.city.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#contact .background {
    background: rgba(242, 38, 19, 0.9);
    height: 100%;
}

#contact h1 {
    color: #FFF;
}

.hidden {
    display: none;
}

.arrow-nav {
    width: 150px;
    height: 50px;
    font-size: 2em;
    color: #FFF;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#introduction .arrow-nav .glyphicon-chevron-left {
    visibility: hidden;
}

#introduction .arrow-nav .glyphicon-chevron-right {
    margin-left: 55px;
}

#contact .arrow-nav .glyphicon-chevron-left {
    margin-left: 55px;
}

#site-overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 99;
    top: 0;
    display: none;
}

[id*=lightbox] {
    padding: 0;
    width: 940px;
    height: 100%;
    position: absolute;
    margin-left: -470px;
    top: 0;
    left: 50%;
    z-index: 100;
    display: none;
    background: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
}

[id*=lightbox] h2 {
    text-align: center;
    text-transform: uppercase;
}

[id*=lightbox] .row .col-md-4 {
}

[id*=lightbox] div span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1em;
    padding-top: 5px;
    padding-left: 5px;
    background: #000;
    color: #FFF;
    position: absolute;
    z-index: 102;
    top: 0.5%;
    left: 96%;
    border: 3px solid #FFF;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

[id*=lightbox] h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

[id*=lightbox] h3 {
    margin-left: 40px;
}

[id*=lightbox] .row dl {
    margin-left: 40px;
    padding-bottom: 10px;
    clear: both;
}

[id*=lightbox] .row dt, dd {
    float: left;
}

[id*=lightbox] .row dd {
    padding-bottom: 10px;
}

[id*=lightbox] .col-md-4 h3 {
    text-transform: uppercase;
    font-weight: bold;
    background: #000;
    color: #FFF;
    text-align: center;
    padding: 5px;
    margin-top: 0;
}

[id*=lightbox] .col-md-8 ul {
    margin-right: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

[id*=lightbox] .col-md-8 ul li {
    margin-left: 0.25in;
    list-style-position: inside;
    margin-bottom: 10px;
}

[id*=lightbox] .col-md-8 ul li ul
{
    margin-top: 10px;
    list-style-position: inside;
    margin-bottom: 10px;
}

[id*=lightbox] .col-md-4 dt {
    text-transform: uppercase;
}

[id*=lightbox] .col-md-8 {
    border-left: 1px solid #AAA;
}

[id*=lightbox] .col-md-8 p {
    margin-right: 40px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 30px;
}

[id*=lightbox] img {
    margin-bottom: 20px;
    width: 99%;
    clear: both;
    border: 1px solid #BBB;
}

[id*=lightbox] .col-md-8 img:nth-of-type(1) {
    margin-top: 20px;
}

div.page-arrow {
    position: absolute;
    z-index: 103;
    width: 150px;
    color: #FFF;
    font-size: 3em;
    top: 50%;
    background: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 8px;
    padding-top: 4px;
}

div.page-arrow:nth-of-type(1) {
    margin-left: 2%;
}

div.page-arrow:nth-of-type(2) {
    margin-left: 93%;
}
